.btn btn-lg btn-warning text-white float-right{
  color: blanchedalmond;
}
.image{
  background-image:url("src\assets\photo1.jpg");
  height: 100%;
  width: 100%;
    position: absolute;
    display: block;
    background-size: cover;
    background-position: 50% 40%;
    opacity: 6;
    z-index: -1;

}
